h1 {
    text-transform: capitalize;
}

article {
    text-align: justify;
    min-height: 300px;
}

footer {
    border-top: 1px solid;
    font-size: 10px;
    margin-top: 20px;
    padding-top: 10px;
    text-align: right;
}
